@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

@font-face {
	font-family: 'raleway';
	src: url('../vendor/webfonts/raleway/Raleway-Regular.ttf') format('truetype');
} 

 /* ======= Your styling goes below ======= */

 /* 4. Common Stylings
========================================================================== */

body {
	height: 100vh;
	background: url('../images/forestbridge.jpg') no-repeat fixed center/cover;
}

.wrapper {
	max-width: 2480px;
	width: 96.84%;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

a { 
	display: inline-block; 
	text-decoration: none;
}

/* 5. Header
========================================================================== */

header .wrapper { padding-top: 19px; }
h1 { width: 5%; }
nav { width: 50% }

header .wrapper, .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
  -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}

nav a {
	color: #fff;
	font-family: 'raleway', sans-serif;
	font-size: 18px;
	line-height: 1;
}

nav a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;	
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/* 5. Main
========================================================================== */

main { margin-top: 25vh; }

main .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	height: auto;
}

h2 {
	position: relative;
	color: #fff;
	font-family: 'raleway';
	font-size: 64px;
	line-height: 96px;
}

h2::before {
    width: 40%;
    position: absolute;
    bottom: -11%;
    left: 50%;
    content: "";
    border: .5px solid #777;
    transform: translateX(-50%);
}

h2+span {
	margin-top: 28px;
	color: #fff;
	font-family: 'raleway';
	font-size: 18px;
	line-height: 27px;
}

/* 5. Footer
========================================================================== */

footer { margin-top: 36vh; }
.social { width: 50%; }

footer .wrapper, .social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p { 
	width: 20%;
	color: #fff;
	font-family: 'raleway';
	font-size: 15px;
}

a[title="w3.css"] { font-size: 15px; }

footer p:first-letter { text-transform: capitalize; }

footer a {
	color: #fff;
	font-family: 'raleway', sans-serif;
	font-size: 18px;
	line-height: 1;
}

footer a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}